<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ShoesMall</display-name>
  
  
   <filter>
        <filter-name>characterEncoding</filter-name>
        <filter-class>xyw.core.web.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>characterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--解决跨域问题 -->
    <filter>
    	<filter-name>access</filter-name>
    	<filter-class>cn.shoesmall.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>access</filter-name>
    	<url-pattern>*.do</url-pattern>
    </filter-mapping>
   <servlet>
        <servlet-name>doAction</servlet-name>
        <servlet-class>xyw.core.web.servlet.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/controller.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>doAction</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
  	<!-- 自动登陆 -->
  	<filter>
  	<filter-name>cookieFilter</filter-name>
  	<filter-class>zwc.filter.CookieFilter</filter-class>
  	</filter>
  	<filter-mapping>
  	<filter-name>cookieFilter</filter-name>
  	<url-pattern>/home.jsp</url-pattern>
  	</filter-mapping>
  	<!-- 单态 -->
  	<listener>
		<listener-class>zwc.listener.MySessionAttributeListener</listener-class>
  	</listener>
  	<listener>
		<listener-class>zwc.listener.MySessionAttributeListener</listener-class>
  	</listener>
  	
  	<filter>
	  	<filter-name>sessionCenterFilter</filter-name>
	  	<filter-class>zwc.filter.SessionCenterFilter</filter-class>
  	</filter>
  	<filter-mapping>
	  	<filter-name>sessionCenterFilter</filter-name>
	  	<url-pattern>/center.jsp</url-pattern>
  	</filter-mapping>
  	
  	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>